@* <!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Редактор прайс-листов предприятия</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html> *@
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title>Редактор прайс-листов предприятия</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/jquery-3.7.1.min.js"></script>
    <script src="~/lib/jquery/jquery-validation-1.19.5/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery/jquery-validation-1.19.5/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery/jquery-validation-unobtrusive-4.0.0/jquery-validation-unobtrusive.js"></script>
    <link href="~/lib/fontawesome-free-6.5.1-web/css/all.min.css" rel="stylesheet" />
    <script src="~/js/site.js"></script>
</head>

<body>
    <div class="bg-dark text-white p-2 text-white">
        <div style="display:inline-block" class="mx-3"><span class="navbar-brand ml-2">РЕДАКТОР ПРАЙС - ЛИСТОВ ПРЕДПРИЯТИЯ</span></div>
        @* <div style="display:inline-block" class="mx-2"><a class="btn btn-secondary" asp-action="Index" asp-controller="Home">Главная</a></div> *@
        <a href="@Url.Action("Index","Home")" class="btn btn-secondary">Главная</a>
        @* <div style="display:inline-block" class="mx-2"><a class="btn btn-secondary" asp-action="ProductList" asp-controller="Product">Товары</a></div> *@
        <a href="@Url.Action("ProductList","Product")" class="btn btn-secondary">Товары</a>
    </div>
    @RenderBody()
@*     <div class="row m-1 p-1">
        <div id="categories" class="col-1">
            <vc:navigation-menu />
        </div>
        <div class="col-11">
            @RenderBody()
        </div>
    </div> *@
    <div class="modal" role="dialog" tabindex="-1" id="form-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
</body>
</html>